* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// body {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: stretch;
//     line-height: 1.7;
// }

.container {
    max-width: 75%;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    // display: flex;
}

.heading {
    text-align: center;
}

.subtext {
    text-align: center;
}

.navigation {
    // position: fixed;
    // z-index: 1;
    // background-color: black;

    ul {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding: 6px 15px;
        width: 80%;
        z-index: 1;

        li {
            padding: 6px 15px;

            &:first-child a {
                color: yellow;
                padding-right: 15em;
            }

            a {
                color: #fff;
                text-decoration: none;
                font-size: 20px;
            }

        }
    }
}

ul:first-child li {
    align-content: flex-start;
}

.splash {
    display: flex;
    height: 100vh;
    background-image: url(https://i.postimg.cc/CMZ8Zndt/analogue-2842521-1280.jpg);
    position: relative;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    .splash-inner {
        text-align: center;
        color: #fff;
        font-size: 30px;

        h1 {
            margin: 25px auto;
        }

        .btn {
            display: inline-block;
            text-align: center;
            border: 1px solid gold;
            padding: 15px 30px;
            color: #fff;
            font-size: 20px;
            border-radius: 5px;
            text-decoration: none;
            background-color: gold;
        }
    }
}

.services {
    .services-box {
        display: flex;

        .col {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            text-align: center;
            margin: 24px 0 0 0;

            .fas {
                display: relative;
                font-size: 30px;
                height: 60px;
                width: 60px;
                border: 2px solid gold;
                border-radius: 30px;
                color: gold;
                padding: 12px 0;
                // display: table-cell;
                // vertical-align: middle;

            }

        }
    }
}

.portfolio {
    background-color: #ccc;

    ul {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        height: 100vh;

        li {
            border-left: 20px solid #ccc;
            border-right: 20px solid #ccc;
            margin: 20px auto;
            background-color: #ccc;

            .portfolio-image img {
                position: relative;
                max-width: 250px;
                height: 250px;
                object-fit: cover;
            }

            .portfolio-description {
                padding-top: 10px;
                text-align: center;
            }
        }
    }
}