$font-one: 'Lato',
sans-serif;
$font-two: 'Open Sans',
sans-serif;
$font-three: 'Playfair Display',
serif;
$font-four: 'Great Vibes',
cursive;
$colour-one: #95a5a6;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 75%;
    margin: 0 auto;
    padding: 0 20px;
}

.heading {
    text-align: center;
    font-family: $font-two;
    font-size: 35px;
    padding-bottom: 7px;
}

.subtext {
    text-align: center;
    font-family: $font-three;
    font-size: 20px;
    font-style: italic;
    color: $colour-one;
}

h4 {
    font-family: $font-two;
    margin: 8px 0;
    font-size: 18px;
}

p {
    font-family: $font-one;
    color: $colour-one;
}

.navigation {
    .golden {
        position: absolute;
        display: flex;
        color: gold;
        z-index: 1;
        padding: 15px 10px;
        font-size: 30px;
        font-family: $font-four;
        letter-spacing: 3px;
    }

    ul {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding: 6px 15px;
        width: 70%;
        z-index: 1;

        li {
            padding: 6px 15px;

            a {
                color: #fff;
                text-decoration: none;
                font-size: 20px;
                transition: border-bottom 0.1s;

                &:hover {
                    border-bottom: 2px solid gold;
                }
            }

        }
    }
}

.splash {
    position: relative;
    display: flex;
    height: 100vh;
    background-image: url(https://i.postimg.cc/CMZ8Zndt/analogue-2842521-1280.jpg);
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    .splash-inner {
        text-align: center;
        color: #fff;
        font-size: 30px;

        h3 {
            font-family: $font-three;
            font-style: italic;
        }

        h1 {
            margin: 25px auto;
            font-family: $font-two;
        }

        .btn {
            display: inline-block;
            text-align: center;
            border: 1px solid gold;
            padding: 15px 30px;
            color: #fff;
            font-size: 20px;
            border-radius: 5px;
            text-decoration: none;
            background-color: gold;
            opacity: 0.9;
            transition: box-shadow .5s, opacity .7s;

            &:hover {
                box-shadow: 0px 0px 25px 3px rgba(231, 166, 26, 1);
                opacity: 1;
            }
        }
    }
}

.services {
    margin-top: 15vh;
    margin-bottom: 15vh;

    .services-box {
        display: flex;
        margin-top: 7vh;

        .col {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            text-align: center;
            margin: 24px 0 0 0;
            padding: 15px 0;

            .fas {
                display: relative;
                font-size: 30px;
                height: 60px;
                width: 60px;
                border: 2px solid gold;
                border-radius: 30px;
                color: gold;
                padding: 12px 0;
                transition: box-shadow 0.5s;

                &:hover {
                    box-shadow: inset 0px 0px 15px 2px rgba(231, 166, 26, 1);
                }
            }
        }
    }
}

.portfolio {
    background-color: #dfe6e9;
    padding-top: 8vh;
    padding-bottom: 4vh;

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;

        li {
            border-left: 15px solid #dfe6e9;
            border-right: 15px solid #dfe6e9;
            margin: 20px auto;
            background-color: #f5f6fa;
            height: 350px;
            padding: 0 auto;

            .portfolio-image img {
                position: relative;
                max-width: 250px;
                height: 250px;
                object-fit: cover;
                transition: transform .5s, border-radius .5s;

                &:hover {
                    transform: scale(1.1);
                    border-radius: 10px;
                }

            }

            .portfolio-description {
                padding-top: 10px;
                text-align: center;
            }
        }
    }
}

.page-footer {
    background-color: #f5f6fa;
    color: black;
    padding: 12px 0;

    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 70%;
        margin: 20px auto;

        p {
            line-height: 35px;
        }

        ul {
            display: flex;

            li {
                list-style-type: none;
                border-radius: 17.5px;
                margin: 0 15px;
                align-items: center;
            }
        }
    }

    .social-links .fab {
        background-color: black;
        width: 35px;
        height: 35px;
        border-radius: 17.5px;
        color: #fff;
        line-height: 35px;
        text-align: center;
        transition: box-shadow 0.5s, color 0.5s;

        &.fa-twitter:hover {
            box-shadow: 0px 0px 25px 3px #0abde3;
            color: #0abde3;
        }

        &.fa-facebook-f:hover {
            box-shadow: 0px 0px 25px 3px #0652DD;
            color: #0652DD;
        }

        &.fa-pinterest-p:hover {
            box-shadow: 0px 0px 25px 3px #EA2027;
            color: #EA2027;
        }

        &.fa-google-plus-g:hover {
            box-shadow: 0px 0px 25px 3px #f9ca24;
            color: #f9ca24;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .navigation {
        .golden {
            display: none;
        }

        ul {
            position: absolute;
            display: flex;
            justify-content: center;
            list-style-type: none;
            width: 100%;
            z-index: 1;
        }
    }

    .services-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}